.divResult {
     padding: 5px 0;
    width: 100%;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.divResult > .display_box {
    line-height: 10px;
}

.divResult > .display_box:hover {
  background-color: #f5f5f5;
  outline: 0;
}

.divResult > .display_box > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 600;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.divResult > .display_box > a > b {
  text-transform: none;
  font-weight: 600;
}