.sidebar {
	border-right: 2px solid #BDC3C7;
}

.main-nav-label {
	margin-bottom: 0px;
}

.main-nav-label:first-child {
	
}

.sidebar-list {
	padding-top: 10px;
	padding-bottom: 6px;
	 border-bottom: 1px solid #95A5A6;
}

.sidebar-items-list {

}