.h1-btn {
	position: absolute;
	top: 10px;
	right: 40px;
}

.sidebar {
	border-right: 2px solid #BDC3C7;
}

.main-nav-label {
	margin-bottom: 0px;
}

.main-nav-label:first-child {
	border-top: 1px solid #95A5A6;
}

.sidebar-list {
	padding-top: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid #95A5A6;
}

.sidebar-items-list {

}

.database {
	margin: 15px;
	font-size: 14px;
}


.database thead {
	font-size: 16px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #ECF0F1;
}

