.h1-btn {
}

.navicon-link {
	padding: 15px !important; 
}

.user-select {
	margin-left: 6px;
}

.aprrove-btn {
	float: right;
	margin-top: -50px;
}

.nav-menu {
	margin: 15px 0 10px -6px;
	padding: 0;
	color: #95A5A6;
	font-size: 16px;
	text-transform: uppercase;
}

.sidebar {
	border-right: 2px solid #BDC3C7;
}

.main-nav-label {
	margin-bottom: 0px;
}

.main-nav-label.first {
	border-top: 1px solid #95A5A6 !important;
}

.sidebar-list {
	padding-top: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid #95A5A6;
}

.sidebar-items-list {

}

.database {
	margin: 15px;
	font-size: 14px;
}

.database thead {
	font-size: 16px !important;
}

.database tr:hover {
	color: #16A085;
	cursor: pointer;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #ECF0F1;
}

.announcement-post textarea,
.announcement-post input {
  background: rgba(236, 240, 241, 0.8);
  border-radius: 4px !important;
  margin: 5px;
}

.announcement-post textarea {
	overflow: auto;
	resize: none;
}

.announcement-post label {
	margin: 5px 6px;
	font-size: 14px;
	float: left;
}

.start-date,
.end-date {
	padding: 0;
	text-align: center;
}

.post-buttons button {
	float: right;
	margin-right: -6px !important;
	width: 10% !important;
}

@media (min-width:768px){
	.h1-btn {
		position: absolute;
		width: 10% !important;
		top: 5px;
		right: 55px;
	}

	.h2-btn {
		width: 10% !important;
		width: 10% !important;
		margin-top: -10px !important;
		margin-bottom: 10px !important;
	}

	.announcement-post input[type=date] {
	}

	.announcement-post label  {
		margin: 10px 0 10px 80px;
	}
}

.field-icon {
	position: absolute;
	z-index: 2;
	top: 13px;
	right: -4px;
	color: #95A5A6;
	-webkit-transition: all .25s;
	transition: all .25s;
}

.post-buttons select {
	padding: 5px;
	width: 15% !important;
	border-radius: 4px !important;
	margin: 10px 5px;
}